{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/ad1446e6-addf-4857-ab98-cb8a508801b9/webchat/config.js" defer></script>
<div class="container custom-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100" >
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li><a href="/home"><img  class="w-50 "  src="{% static 'image/pho.png' %}" alt=""></a></li>
               
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <!-- <div class="dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Profile
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdown-menu">
                            <li></li><a class="dropdown-item" href="/newpost">New Post</a></li>
                            <li></li><a class="dropdown-item" href="/mypost">My Posts</a></li>
                            <li></li><a class="dropdown-item" href="/signout">Sign Out</a></li>
                        </ul>
                    </div>
                    
                </div> -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/newpost">New Post</a></li>
                      <li><a class="dropdown-item" href="/mypost">My Posts</a></li>
                      <li><a class="dropdown-item" href="/signout">Sign Out</a></li>
                    </ul>
                  </div>
            </form>
        </div>

    </nav>
    <br><br>
    <div class="container custom-container" style="max-width: 1350px; ">
        {% for post in posts %}
        <article class="media content-section">

            <div class="media-body" style="border: 1px solid black; padding: 23px; margin-bottom: 10px;">
                <div class="article-metadata">
                    <!-- <h3 aligh="left">{{ post.author }} </h3>
                    <h5 aligh="right">{{ post.date_posted|date:"F d, Y" }}</h5> -->
                    <h1 class="text-uppercase" style="text-align:left;float:left; color: #000000;">{{ post.author }}</h1>
                    <h5 style="text-align:right;float:right;">{{ post.date_posted|date:"F d, Y" }}</h5>
                    <hr style="clear:both;" />

                </div>
                <h3>{{ post.title }}</h3>
                <p class="article-content">{{ post.content }}</p>
                <br><br>
            </div>
        </article>
        {% endfor %}
    </div>
</div>



{% endblock %}